<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sunsetlabsuser/css/backend/login.css') }}">
	<link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
	{% block user_security_body %}
	{% endblock user_security_body %}
</body>
</html>